* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 1.2em;
}
svg {
	overflow: visible;
}
.reorder {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.rating-container {
	flex: 1;
	text-align: center;
	box-sizing: border-box
}
.inner-rating {
	padding: 1em;
}
.row {
	display: flex;
}
.column {
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0.5em;
}
.bar-container {
	flex-basis: 70%;
}
.mosaic-container {
	flex-basis: 30%;
}
