* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 1.2em;
}

.reorder-container {
	padding-left: 18%; /* DO NOT TOUCH */
}

#reorder {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.rating-container {
	flex: 1;
	text-align: center;
	box-sizing: border-box
}

.rating {
	padding: 1em;
}

